@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

:root{
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;
    --font-padrão: 'Inter'
}

    body{
        margin: 0;
        padding: 0;

        background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 25.91%, rgba(12, 112, 242, 0)35.84%), #303030;

        background-repeat: no-repeat;
       
    }
    /* Menu principal */
    #main{
        margin: 0;
        width: 100%;
        height: 100px;
        border: 1px solid black;
        background-color: var(--preto-dnc);
        display: flex;
        justify-content: space-between;

        align-items:center ;
        border-bottom: 1px solid #bababa;
    }
        #main div a:hover{
            color: var(--cinza-hover);
        }
        #menu{
            align-items: center;
            display: flex;
            width: 55%;
            justify-content: space-around;

            margin-left: 5%;
        }
        #main div a{
            font-family: var(--font-padrão);
            color: white;
            font-size: 25px;
            font-weight: 600;
            text-decoration: none;
        }


        #main button{
            margin-right: 5%;
            background-color: var(--azul-dnc);
            border: none;
            height: 40px;
            width: 80px;

            font-family: var(--font-padrão);
            font-size: 20px;
            font-weight: 600;
            color: white;
            cursor: pointer;
            box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
        }

        /* Seção principal do site */

        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-top: 100px ;
            margin-bottom: 100px;
        }

            header{
                color: white;
                font-family: var(--font-padrão);
            }

            header h1{
                text-transform: uppercase;
                font-size: 80px;
                font-weight: 800;  
                text-align: center;

                margin-bottom: 20px;             
            }

            header h2{
                text-align: center;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 100px;
            }

            .invert{
                background-color: black;
                font-size: bold;
                padding: 5px;
            }

            /* Formulário */

            form{
                color: white;
                font-family: var(--font-padrão);
                font-size: 30px;
                width: 600px;
                font-weight: 600;
            }
            .form-group{
                display: flex;
                flex-direction: column;
                margin: 10px 0 10px 0;
            }
            form input{
                border-radius: 10px;
                border: none;
                padding-left:10px ;
                height: 50px;
                font-size: 20px;
                background-color: rgba(255, 255, 254, 0.9);
            }

            form label{
                margin: 10px 0 10px 0;
            }

            form input::placeholder{
                color: rgba(57,57,57,0.5);
            }

            .checkbox-itens label{
                font-size: 25px;
                
            }

            .checkbox-itens{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            input[type="checkbox"]{
                transform: scale(2.0);
                border: 0px;
            }
            input[type="submit"]{
                background-color: #0c70f2;
                box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
                width: 100%;
                height: 56px;
                color: white;
                font-family: var(--font-padrão);
                font-size: 32px;
                font-weight: 600;
                margin-top: 50px;
                cursor: pointer;
            }
            /* Footer */

            footer{
                width: 100%;
                background-color: var(--azul-dnc);
            }

            footer .row1{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            footer ul{
                list-style: none;
                margin: 0px;
                padding: 0px;
                font-family: var(--font-padrão);
            }   

            footer nav{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 400px;
                
            }

            footer h5{
                font-size: 25px;
                text-align: center;
                font-weight: 800;
                color: white;
                font-family: var(--font-padrão);
                
                background-color: var(--preto-dnc);
                border-bottom: 10px;

                border-radius: 10px;
                padding: 10px;
                margin-bottom: 15px;
            }

            footer ul li{
                font-size: 25px;
                color: white;
                text-align: center;
                font-weight: 600;
                font-family: var(--font-padrão);

                margin: 20px 0 20px 0;
            }

            footer ul li a {
                color: white;
                text-decoration: none;
            }
            footer ul li a:hover{
                color: var(--cinza-hover);
            }
            footer .address{
                font-size: 18px;
                font-weight: 600;
                font-family: var(--font-padrão);
                color: white;
                text-align: center;
            }

            footer .row2 {
                display: flex;
                justify-content: center;
                padding: 10px 0 10px 10px;
            }

            footer .row2 a{
                font-family: var(--font-padrão);
                font-size: 18px;
                font-weight: 600;
                color: white;
                padding: 0px 10px 0px 10px;
                text-decoration: none;
            }
            footer .row2 a:first-child{
                border-right: 3px solid white;

            }
            footer .row2{
                color: var(--cinza-hover);
            }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Menu */
    #main{
        flex-direction: column;
        height: auto;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    #menu a{
        height: 50px;
        display: flex ;
        align-items: center;
    }

    #main button {
        width: 100%;
        margin: 0;
    }
    
    /* Sections */

    section h1{
        font-size: 18px;
    }

    section h2{
        font-size: 28px;
        padding-right: 15px;
        padding-left: 15px;
    }

    form{
        width: 95%;
        font-size: 20px;
    }
    .checkbox-itens label{
        font-size: 15px;
    }

    /* footer */

    footer .row1{
        flex-direction: column;
    }
    footer .address{
        width: 100%;
    }
    footer .row2{

    }
}